.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  /* height: 72px; */
  padding: 0 28px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  background: #ffffff;
  transition: all 0.25s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

/* LEFT */
.navbar__logo {
  height: 7vh;
  width: 15vw;
  transition: height 0.25s ease;
  margin-right: 8vw;
  padding: 3px 0;
}

/* CENTER */
.navbar__steps {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.navbar__step {
  background: none;
  border: none;
  padding: 0;

  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #9a9a9a;
  cursor: pointer;
  position: relative;
}

.navbar__step.active {
  color: #000;
}

.navbar__step.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background: #000;
}

/* RIGHT */
.navbar__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__link-btn {
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
}

.navbar__cta {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 999px;

  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 0;
}

/* Simple navbar (logo only) */
.navbar--simple {
  position: sticky;
  top: 0;
  grid-template-columns: auto;
  padding: 0 28px;
  justify-content: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  height: 72px;
  background: #ffffff;
}
